adium-theme-ubuntu==0.3.4
attrs==17.2.0
Automat==0.6.0
backports-abc==0.5
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
bleach==2.1.1
cairocffi==0.7.2
certifi==2017.7.27.1
cffi==1.5.2
chardet==3.0.4
click==6.7
configparser==3.5.0
constantly==15.1.0
coverage==4.4.1
cycler==0.10.0
decorator==4.1.2
entrypoints==0.2.3
enum34==1.1.6
Flask==0.12.2
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
gevent==1.2.2
graphviz==0.8
greenlet==0.4.12
html5lib==1.0b10
hyperlink==17.3.1
hypothesis==3.32.0
idna==2.6
incremental==17.5.0
ipykernel==4.6.1
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.0.1
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
MarkupSafe==1.0
matplotlib==2.1.0
mistune==0.7.4
mock==2.0.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.0
notebook==5.1.0
numpy==1.11.0
olefile==0.44
pandocfilters==1.4.2
pathlib2==2.3.0
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.3.0
ply==3.7
prompt-toolkit==1.0.15
protobuf==3.4.0
ptyprocess==0.5.2
pycparser==2.14
pydot==1.0.29
Pygments==2.2.0
pygobject==3.20.0
pyparsing==2.0.3
Pyste==0.9.10
python-dateutil==2.6.1
python-engineio==1.7.0
python-nvd3==0.14.2
python-slugify==1.1.4
python-socketio==1.8.1
pytz==2017.2
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.1
requests==2.18.4
scandir==1.6
scikit-image==0.13.1
scipy==0.19.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
subprocess32==3.2.7
sysfs-gpio==0.2.2
terminado==0.6
testpath==0.3.1
tornado==4.5.2
traitlets==4.3.2
Twisted==17.9.0
Unidecode==0.4.21
unity-lens-photos==1.0
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==3.0.3
xcffib==0.3.6
zope.interface==4.4.3
