<!doctype html>
<html>
  <head>
    <title>mimic web server</title>
    <script type=text/javascript src="{{
      url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript">
      $(function() {
        var submit_form = function(e) {
          $.getJSON($SCRIPT_ROOT + '/_send_cmd', {
            cmd: $('input[name=cmd]').val(),
          }, function(data) {
            var d = new Date(data.ts * 1000);
            var time = d.getUTCFullYear() +
                    '-' + ('0' + d.getUTCMonth()).slice(-2) +
                    '-' + ('0' + d.getUTCDate()).slice(-2) + 
                    ' ' + ('0' + d.getUTCHours()).slice(-2) +
                    ':' + ('0' + d.getUTCMinutes()).slice(-2) +
                    ':' + ('0' + d.getUTCSeconds()).slice(-2) +
                    '.' + (d.getUTCMilliseconds() / 1000).toFixed(3).slice(2, 5);
            $('#result').text(" " + data.result + ",  " + data.cmd + ",  " + time);
            $('input[name=cmd]').focus().select();
          });
          return false;
        };
        var long_run = function(e) {
          $.getJSON($SCRIPT_ROOT + '/_long_run', {
            long_run: true
          }, function(data) {
            $('#long_run_result').text(data.result);
          });
          return false;
        };
        $('a#send').bind('click', submit_form);
        $('a#long_run').bind('click', long_run);
        $('input[type=text]').bind('keydown', function(e) {
          if (e.keyCode == 13) {
            submit_form(e);
          }
        });
        $('input[name=cmd]').focus();
      });
    </script>
  </head>

  <body>
    <h1>cloud server</h1>
    <p><input type=text size=5 name='cmd'>  <a href=# id=send>send cmd</a></p>
    <p><span id=result>  empty</span></p>
    <p><a href=# id=long_run>long run</a><span id=long_run_result>stopped</span></p>

  </body>
</html>
